/* GENERAL */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    background: var(--Lightgrayishcyan);
}

/* Utilities */

:root {
    /* Primary */
    --Strongcyan: hsl(172, 67%, 45%);

    /* Neutral */
    --disabled-button: #0D686D;
    --Verydarkcyan: hsl(183, 100%, 15%);
    --Darkgrayishcyan: hsl(186, 14%, 43%);
    --Grayishcyan: hsl(184, 14%, 56%);
    --Lightgrayishcyan: hsl(185, 41%, 84%);
    --Verylightgrayishcyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

input[type="text"]{
    font-size: 24px;
}

/* Main */

